<div class="container">
    <div class="col-xs-12 col-sm-6 col-md-4 card" *ngFor="let pedido of pedidos; let i = index">
        <div class="panel panel-success">
            <div class="panel-heading"><h4>Pedido de: <b>{{pedido.nombre}}</b></h4></div>
              <h4>Direccion: <b>{{pedido.direccion}}</b></h4> 
              <h4>Tel: <b>{{pedido.telefono}}</b></h4> 
        <ul class="list-group" *ngFor="let producto of pedidos.lista; let j = index">
          <li class="list-group-item" >
            <span class="badge">{{producto.cantidad}}</span>
            {{producto.detalle}}
          </li>
          
        </ul>
        
        <h4 style="float: right; margin-right: 10px">Total:  <b>${{pedido.total}}.°°</b> </h4>
        <br>
        <br>
        <button type="button" class="btn btn-primary"> 
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Enviar
        </button>
        
        <button type="button" class="btn btn-warning"> 
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancelar
          </button>
    </div>
   </div>
  </div>